<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.EnquiryBoardMapper">
<insert id="insertEq" parameterType="com.admin.domain.board.EnquiryBoardVO">
INSERT INTO enquiry_Board
		(
			member_email,
			board_title,
			board_content,
			board_regdate,
			board_state
		)
		VALUES
		(
			#{memberEmail},
			#{boardTitle},
			#{boardContent},
			SYSDATE,
			#{boardState}
		)
</insert>

<delete id="deleteEq" parameterType="com.admin.domain.board.EnquiryBoardVO">
		DELETE FROM enquiry_Board
		WHERE board_num = #{boardNum}
</delete>

<update id="updateEq" parameterType="com.admin.domain.board.EnquiryBoardVO">
		UPDATE enquiry_Board
		SET board_title = #{boardTitle},
		board_content = #{boardContent},
		board_regdate = SYSDATE,
		board_state = #{boardState}
		WHERE board_num = #{boardNum}
</update>

<update id="updateEqState" >
		UPDATE enquiry_Board
		SET board_state = #{boardState}
		WHERE board_num = #{boardNum}
</update>

<select id="numChk">
select board_num from enquiry_Board where board_num = #{boardNum}
</select>


<insert id="insertReply" parameterType="com.admin.domain.board.ReplyVO">
INSERT INTO reply
		(
			board_num,
			writer,
			reply_content,
			reply_regdate
		)
		VALUES
		(
			#{boardNum},
			#{writer},
			#{replyContent},
			SYSDATE
		)
</insert>

<delete id="deleteReply" parameterType="com.admin.domain.board.ReplyVO">
		DELETE FROM reply
		WHERE reply_num = #{replyNum}
</delete>

<delete id="deleteAllReply" parameterType="com.admin.domain.board.EnquiryBoardVO">
		DELETE FROM reply
		WHERE board_num = #{boardNum}
</delete>

<update id="updateReply" parameterType="com.admin.domain.board.ReplyVO">
		UPDATE reply
		SET reply_content = #{boardContent},
		reply_regdate = SYSDATE
		WHERE reply_num = #{replyNum}
</update>

<select id="selectEq" parameterType="int">
		SELECT * FROM enquiry_Board
		WHERE board_num = #{boardNum}
</select>

<select id="selectReplyList" parameterType="int">
		SELECT * FROM reply
		WHERE board_num = #{boardNum}
		ORDER BY reply_num
</select>

<select id="selectEqList">
	
</select>

<select id="selectLastSeqNum" parameterType="com.admin.domain.board.EnquiryBoardVO">
		SELECT * FROM enquiry_Board
		WHERE member_email = #{memberEmail}
		ORDER BY board_num
</select>
</mapper>