<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.FileBoardMapper">
<insert id="insertFile" parameterType="com.admin.domain.board.FileVO">
INSERT file_Board
		(
			file_num,
			board_num,
			origin_file_name,
			stored_file_name
		)
		VALUES
		(
			fileNum.NEXTVAL,
			#{boardNum},
			#{originFileName},
			#{storedFileName}
		)
</insert>

<delete id="deleteFile" parameterType="int">
		DELETE FROM file_Board
		WHERE file_num = #{fileNum}
</delete>

<delete id="deleteAllFiles" parameterType="int">
		DELETE FROM file_Board
		WHERE board_num = #{boardNum}
</delete>


<delete id="deleteNoticeFile" parameterType="int">
		DELETE FROM file_Board
		WHERE notice_num = #{noticeNum}
</delete>

<delete id="deleteAllNoticeFiles" parameterType="int">
		DELETE FROM file_Board
		WHERE notice_no = #noticeNo}
</delete>
</mapper>