<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.NoticeBoardMapper">
<insert id="insertNotice" parameterType="com.admin.domain.board.NoticeBoardVO">
		INSERT admin_Notice
		(
			notice_no,
			notice_category,
			notice_title,
			notice_content,
			notice_writer,
			notice_date
		)
		VALUES
		(
			noticeNo.NEXTVAL,
			#{noticeCategory},
			#{noticeTitle},
			#{noticeContent},
			#{noticeWriter},
			#{noticeDate}
		)
</insert>

<delete id="deleteNotice" parameterType="com.admin.domain.board.NoticeBoardVO">
		DELETE admin_Notice
		WHERE notice_no = #{noticeNo},
		notice_writer=#{noticeWriter}
</delete>

<update id="updateNotice" parameterType="com.admin.domain.board.NoticeBoardVO">
		UPDATE FROM admin_Notice
		SET notice_category=#{noticeCategory},
			notice_title=#{noticeTitle},
			notice_content=#{noticeContent},
			notice_date=#{noticeDate},
			WHERE notice_writer=#{noticeWriter}
</update>

<select id="selectNoticeCount">
select Count(*) from admin_Notice where notice_category=#{type}
</select>
<select id="selectNoticePageList">
select * from admin_Notice where notice_category=#{type}
</select>

</mapper>