<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.mapper.DetailBookMapper">

<select id="searchEBook" resultType="com.ryan.domain.book.EBookVO">
	select e.*, c.book_category, f.first_category from ebook e, second_category c, first_category f 
	where e.category_num=c.category_num and f.first_num=c.first_num and e.book_num=#{bookNum}
</select>

<select id="searchReview" resultType="com.ryan.domain.book.ReviewVO">
	SELECT * FROM book_Review WHERE book_num=#{bookNum}
</select>

<select id="interestbooks" resultType="com.ryan.domain.book.EBookVO">
	SELECT * FROM EBOOK WHERE category_num=#{categoryNum}
</select>

<select id="bookLike" resultType="_int">
	<![CDATA[
		SELECT NVL(sum(like_num),0) FROM book_Like WHERE book_num=#{bookNum}
	]]>
	
</select>

<select id="bookLikeList" resultType="com.ryan.domain.book.BookLikeVO">
	SELECT * FROM book_Like WHERE book_num=#{bookNum}
</select>

<select id="bookGrade" resultType="_int"> 
	<![CDATA[
		SELECT NVL(round(avg(grade_score),1),0) FROM book_Grade WHERE book_num=#{bookNum}
	]]>
</select>

<select id="hashtag" resultType="com.ryan.domain.book.HashtagVO">
	SELECT * FROM book_hashtag WHERE book_num=#{bookNum} ORDER BY hash_num DESC
</select>

<select id="likepeople" resultType="com.ryan.domain.member.MemberVO">
	<![CDATA[
		select * from member m, ebook e, book_like l 
		where m.member_Email=l.member_Email and l.book_num = e.book_num
		and e.book_num=#{bookNum} order by l.like_num desc
	]]>
</select>

<insert id="insertHashtag" parameterType="com.ryan.domain.book.HashtagVO">
	INSERT INTO book_hashtag (book_num, hash_tag) VALUES(#{bookNum}, #{hashTag})
</insert>



<insert id="insertLike" parameterType="com.ryan.domain.book.BookLikeVO">
	INSERT INTO book_like (member_Email, book_Num) VALUES( #{memberEmail}, #{bookNum})
</insert>

<delete id="deleteLike" parameterType="com.ryan.domain.book.BookLikeVO">
	DELETE FROM book_like WHERE book_num = #{bookNum} and member_Email=#{memberEmail}
</delete>

<!-- 현재 조회수  -->

<!-- 조회수  -->
<update id="updateBookLookUp">
	UPDATE ebook 
	SET 
	book_lookup = book_lookup +1
	WHERE book_num = #{bookNum}
</update>

</mapper>