<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.mapper.DetailBookMapper">

<select id="searchEBook" resultType="com.ryan.domain.EBookVO">
	SELECT * FROM eBook WHERE book_num=#{bookNum}
</select>

<select id="searchReview" resultType="com.ryan.domain.ReviewVO">
	SELECT * FROM book_Review WHERE book_num=#{bookNum}
</select>

<select id="interestbooks" resultType="com.ryan.domain.EBookVO">
	<![CDATA[
	SELECT * FROM 
	(SELECT * FROM eBook WHERE category=#{category} ORDER BY DBMS_RANDOM.RANDOM) WHERE rownum <= 6 
	]]>
	
</select>

<select id="bookLike" resultType="com.ryan.domain.BookLikeVO">
	<![CDATA[
		SELECT sum(like_num) FROM book_Like WHERE book_num=#{bookNum}
	]]>
	
</select>

<select id="bookLikeList" resultType="com.ryan.domain.BookLikeVO">
	SELECT * FROM book_Like WHERE book_num=#{bookNum}
</select>

<select id="bookGrade" resultType="_double"> 
	<![CDATA[
		SELECT avg(grade_score) FROM book_Grade WHERE book_num=#{bookNum}
	]]>
</select>

<select id="hashtag" resultType="com.ryan.domain.HashtagVO">
	SELECT * FROM book_hashtag WHERE book_num=#{bookNum} ORDER BY hash_num DESC
</select>

<select id="likepeople" resultType="com.ryan.domain.MemberVO">
	<![CDATA[
		select * from member m, ebook e, book_like l 
		where m.member_Email=l.member_Email and l.book_num = e.book_num
		and e.book_num=#{bookNum} order by l.like_num desc
	]]>
</select>

<insert id="insertHashtag" parameterType="com.ryan.domain.HashtagVO">
	INSERT INTO book_hashtag (book_num, hash_tag) VALUES(#{bookNum}, #{hashTag})
</insert>

<insert id="insertGrade" parameterType="com.ryan.domain.BookGradeVO">
	INSERT INTO book_grade (member_Email, book_Num, grade_score) VALUES(#{memberEmail},#{bookNum},#{gradeScore})
</insert>

<insert id="insertLike" parameterType="com.ryan.domain.BookLikeVO">
	INSERT INTO book_like (member_Email, book_Num) VALUES( #{memberEmail}, #{bookNum})
</insert>

<delete id="deleteLike" parameterType="com.ryan.domain.BookLikeVO">
	DELETE FROM book_like WHERE book_num = #{bookNum} and member_Email=#{memberEmail}
</delete>

<!-- 현재 조회수  -->

<!-- 조회수  -->
<update id="updateBookLookUp">
	UPDATE ebook 
	SET 
	book_lookup = book_lookup +1
	WHERE book_num = #{bookNum}
</update>

</mapper>