<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.mapper.EmailMapper">
	<insert id="insertEmailCode">
		INSERT INTO email_check (member_email,email_code)
		VALUES(#{memberEmail},#{emailCode})
	</insert>
	
	<select id="checkEmailAuthData" resultType="int">
		SELECT count(*) FROM email_check
		<where>
			member_email = #{memberEmail}
		</where>
	</select>
	
	<select id="authenticationCheck" resultType="int">
		SELECT count(*) FROM email_check 
		WHERE member_email = #{memberEmail} and email_code = #{emailCode}
	</select>
	
	<update id="updateAuthComplete">
		UPDATE email_check
		<set>
			email_auth_complete = 1
		</set>
		<where>
			member_email = #{memberEmail}
		</where>
	</update>
	
	<update id="updateAuthenticationCode">
		UPDATE email_check
		<set>
			email_code = #{emailCode},
			email_auth_complete = 0
		</set>
		<where>
			member_email = #{memberEmail}
		</where>
	</update>
	
	<select id="authCompleteCheck" resultType="boolean">
		SELECT email_auth_complete FROM email_check
		<where>
			member_email = #{memberEmail}
		</where>
	</select>
	
	<delete id="emailCodeDelete">
		DELETE FROM email_check
		<where>
			member_email = #{memberEmail}
		</where>
	</delete>
	
</mapper>