<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.mapper.MainMapper">
	
	<select id="getEbookList" resultType="com.ryan.domain.book.EBookVO">
		SELECT * FROM ebook
		
		<choose>
			<when test="param1.equals('book_title')">
					WHERE
				<foreach collection="param2" index="index" item="search" separator="or">
					book_title LIKE  '%'||#{search}||'%'
				</foreach>
			</when>
			<when test="param1.equals('book_writer')">
				WHERE
				<foreach collection="param2" index="index" item="search" separator="or">
					book_writer LIKE '%' ||#{search}||'%'
				</foreach>
			</when>
			<when test="param1.equals('book_publisher')">
				WHERE
				<foreach collection="param2" index="index" item="search" separator="or">
					book_publisher LIKE '%' || #{search} || '%'
				</foreach>
			</when>
		</choose>
		and book_existence = 1
	</select>
	
		<select id="getBookList" resultType="com.ryan.domain.book.EBookVO">
		SELECT * FROM ebook
		
		<choose>
			<when test="param1.equals('book_title')">
					WHERE
				<foreach collection="param2" index="index" item="search" separator="or">
					book_title LIKE  '%'||#{search}||'%'
				</foreach>
			</when>
			<when test="param1.equals('book_writer')">
				WHERE
				<foreach collection="param2" index="index" item="search" separator="or">
					book_writer LIKE '%' ||#{search}||'%'
				</foreach>
			</when>
			<when test="param1.equals('book_publisher')">
				WHERE
				<foreach collection="param2" index="index" item="search" separator="or">
					book_publisher LIKE '%' || #{search} || '%'
				</foreach>
			</when>
		</choose>
		and book_existence = 0
	</select>
	
	<!-- 오늘의 추천도서 -->
	<select id="getTodayBookList" resultType="com.ryan.domain.book.EBookVO">
		SELECT e.* FROM ebook e, admin_bestlist a
		<where>
			e.book_num = a.book_num
		</where>
	</select>
	
	<!-- 사람들이 많이 읽은 책 -->
	<select id="getBestReadBook" resultType="com.ryan.domain.book.EBookVO">
		SELECT * FROM
	</select>
	
	
		
</mapper>