<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.mapper.MemberMapper">
	
	<resultMap type="com.ryan.domain.member.MemberVO" id="memberMap">
		<id property="memberEmail" column="member_email"/>
		<result property="memberEmail" column="member_email"/>
		<result property="memberPw" column="member_pw"/>
		<result property="memberNickName" column="member_nick_name"/>
		<result property="memberZipcode" column="member_zipcode"/>
		<result property="memberAddress" column="member_address"/>
		<result property="memberDaddress" column="member_daddress"/>
		<result property="memberTel" column="member_tel"/>
		<result property="memberSignupDate" column="member_signup_date"/>
		<result property="memberEnabled" column="member_enabled"/>
		<result property="memberProfile" column="member_profile"/>
		<collection property="memberAuthList" resultMap="memberAuthMap">
		</collection>
	</resultMap>
	
	<resultMap type="com.ryan.domain.member.MemberAuthVO" id="memberAuthMap">
		<result property="memberEmail" column="member_email"/>
		<result property="auth" column="auth"/>
	</resultMap>
	
	<select id="getLoginMemberInfo" resultMap="memberMap">
		SELECT m.*, a.auth FROM member m, tbl_member_auth a
		<where>
			m.member_email = a.member_email 
			and m.member_email = #{memberEmail}
		</where>
	</select>
	
	<insert id="memberSignUp">
		INSERT ALL
		INTO member
		(
			member_email,
			member_pw,
			member_nick_name,
			member_zipcode,
			member_address,
			member_daddress,
			member_tel
		)
		VALUES
		(
			#{memberEmail},
			#{memberPw},
			#{memberNickName},
			#{memberZipcode},
			#{memberAddress},
			#{memberDaddress},
			#{memberTel}
		)
		INTO tbl_member_auth
		(
			member_email,
			AUTH
		)
		VALUES
		(
			#{memberEmail},
			'ROLE_MEMBER'
		)
		SELECT * FROM dual
	</insert>
	
	<select id="signUpCheck" resultType="Integer">
		SELECT count(*) FROM member
		<choose>
			<when test="memberEmail != null">
				WHERE member_email = #{memberEmail}
			</when>
			<when test="memberNickName != null">
				WHERE member_nick_name = #{memberNickName}
			</when>
		</choose>
	</select>
	
	<update id="memberUpdate">
		UPDATE member
		<set>
			<if test="memberPw != null and memberPw != ''">
				member_pw = #{memberPw}
			</if>
			<if test="memberZipcode != null and memberZipcode != ''">
				member_zipcode = #{memberZipcode}
			</if>
			<if test="memberAddress != null and memberAddress != ''">
				member_address = #{memberAddress}
			</if>
			<if test="memberDaddress != null and memberDaddress != ''">
				member_daddress = #{memberDaddress}
			</if>
			<if test="memberTel != null and memberTel != ''">
				member_tel = #{memberTel}
			</if>
		</set>
		WHERE member_email = #{memberEmail}
	</update>
	
	<!-- 로그인  유효성 체크--> <!-- 주말에 시큐리티 적용예정 -->
	<select id="memberSignIn" resultType="int">
		SELECT count(*) FROM member WHERE member_email = #{memberEmail} and member_pw = #{memberPw}
	</select> 
	
	<!-- 로그인 한사람 정보 가져오기 -->
	
<!-- 	<select id="getLoginMemberInfo" resultType="com.ryan.domain.member.MemberVO">
		SELECT member_email, member_nick_name, member_zipcode, member_address, member_daddress, member_tel, member_signup_date
		FROM member
		WHERE member_email = #{memberEmail} and member_pw = #{memberPw}
	</select> -->
	
	<!-- 정지 유효성체크? -->
	<select id="memberBanCheck" resultType="int">
		SELECT count(*) FROM member_ban
		<where>
			member_email = #{memberEmail} and ban_check = 1
		</where> 
	</select>
	
	
	<!-- 회원탈퇴 -->
	
	<!-- 비밀번호 찾기 -->
	<update id="forgotPassword">
		UPDATE member
		<set>
			member_pw = #{memberPw}
		</set>
		<where>
			member_email = #{memberEmail}
		</where>
	</update>
	

	<select id="readClickId" resultType="com.ryan.domain.member.MemberVO">
		SELECT * FROM member WHERE member_email = #{clickId}
	</select>
	
	<select id="myLibCount" resultType="int">
		SELECT count(*) libBookCount FROM my_lib
		<where>
			member_email = #{memberEmail}
		</where>
	</select>
	
	<select id="myPostCount" resultType="int">
		SELECT count(*) postCount FROM book_review
		<where>
			member_email = #{memberEmail}
		</where>
	</select>
	
	<select id="myfollowCount" resultType="int">
		SELECT count(*) followCount FROM member_follow
		<where>
			fk_member_follow_2 = #{memberEmail}
		</where>
	</select>
	
	<select id="getMemberOrderNumber" resultType="int">
		SELECT order_number FROM order_number
		<where>
			member_email = #{memberEmail}
		</where>
	</select>
	
	<select id="myRealBookBuyCount" resultType="int">
		SELECT sum(o.book_count) realBookCount FROM order_object o
		<where>
			<foreach collection="array" item="order" open="order_number in(" separator="," close=")">
				#{order}
			</foreach>
		</where>
	</select>
	
	<select id="getMemberPassword" resultType="String">
		SELECT member_pw FROM member
		<where>
			member_email = #{memberEmail}
		</where>
	</select>
	
	<delete id="deleteMemberData" >
		{call
			declare
				begin
					DELETE FROM persistent_logins
						<where>
							username = #{memberEmail};
						</where>
						
					DELETE FROM tbl_member_auth
						<where>
							member_email = #{memberEmail};
						</where>
					
					DELETE FROM member_payment
						<where>
							member_email = #{memberEmail};
						</where>
					
					DELETE FROM member_follow
						<where>
							fk_member_follow_1 = #{memberEmail}
							or
							fk_member_follow_2 = #{memberEmail};
						</where>
					
					DELETE FROM member_ban
						<where>
							member_email = #{memberEmail};
						</where>
						
					DELETE FROM book_like
						<where>
							member_email = #{memberEmail};
						</where>
						
					DELETE FROM member_interests
						<where>
							member_email = #{memberEmail};
						</where>
						
					DELETE FROM my_lib
						<where>
							member_email = #{memberEmail};
						</where>		
						
					DELETE book_alarm
						<where>
							fk_member_alarm = #{memberEmail};
						</where>
					
					DELETE book_Grade
					<where>
						member_email = #{memberEmail};
					</where>
					
					DELETE book_review
					<where>
						member_email = #{memberEmail};
					</where>	
					commit;	
		END
	}	
	</delete>
	
	<select id="getMemberReadBookNO" resultType="int">
		SELECT read_num FROM my_read_book WHERE member_email = #{memberEmail}
	</select>
	
	<delete id="deleteMemberBookMark">
		DELETE FROM read_book_mark
		<where>
			<foreach collection="array" item="no" separator="," open="read_num in(" close=")" >
				#{no}
			</foreach>
		</where>
	</delete>
	
	<delete id="deleteMemberReadBook">
		DELETE FROM my_Read_book
		<where>
			member_email = #{memberEmail}
		</where>
	</delete>
	
	<delete id="deleteMemberOrderObject">
		DELETE FROM order_object
		<where>
			<foreach collection="array" item="no" open="order_number in(" separator="," close=")">
				#{no}
			</foreach>
		</where>
	</delete>
	
	<delete id="deleteMemberOrderNumber">
		DELETE FROM order_number
		<where>
			member_email = #{memberEmail}
		</where>
	</delete>
	
	<delete id="deleteMemberCart">
		DELETE FROM cart
		<where>
			member_email = #{memberEmail}
		</where>
	</delete>
	
	<delete id="deleteMember">
		DELETE FROM member
		<where>
			member_email = #{memberEmail}
		</where>
	</delete>
		
</mapper>
