<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.mapper.MemberMapper">
	
	<insert id="memberSignUp">
		INSERT INTO member
		VALUES(
		#{memberId},
		#{memberPw},
		#{memberNickName},
		#{memberZipcode},
		#{memberAddress},
		#{memberDaddress},
		#{memberTel},
		sysdate,
		#{memberAdmin}
		)
	</insert>
	
	<select id="signUpCheck" resultType="Integer">
		SELECT count(*) FROM member
		<choose>
			<when test="memberId != null">
				WHERE member_id = #{memberId}
			</when>
			<when test="memberNickName != null">
				WHERE member_nick_name = #{memberNickName}
			</when>
		</choose>
	</select>
	
	<update id="memberUpdate">
		UPDATE member
		<set>
			<if test="memberPw != null || memberPw != ''">
				member_pw = #{memberPw}
			</if>
			<if test="member_Nick">
				
			</if>
		</set>
		WHERE member_id = #{memberId}
	</update>
	
	<!-- 로그인 -->
	<select id="memberSignIn" resultType="int">
		SELECT count(*) FROM member WHERE member_id = #{memberId} and member_pw = #{memberPw}
	</select>
	
	<!-- 여기부터 쿠키 -->
	
	<!-- 자동로그인 체크시 회원의 닉네임을 가져옴 -->
	<select id="getMemberNickName" resultType="String">
		SELECT member_nick_name FROM member WHERE member_id = #{memberId}
	</select>
	
	<!-- 쿠키 로그인 확인 -->
	<select id="autoLogin" resultType="int">
		SELECT count(*) FROM member WHERE member_id = #{memberId} and member_nick_name = #{memberNickName}
	</select>
	
	
	
</mapper>
