<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.mapper.MyBookMapper">
	<select id="libBook" resultType="com.ryan.domain.book.EBookVO">
		select e.* from my_lib l, ebook e 
		WHERE l.book_num=e.book_num and member_email=#{memberEmail} 
		order by lib_num DESC
	</select>
	
	<delete id="deleteLibBook" parameterType="com.ryan.domain.book.EBookVO">
		delete from my_lib WHERE book_num=#{bookNum} and member_email=#{memberEmail}
	</delete>
	
	<insert id="insertLibBook" parameterType="com.ryan.domain.book.MyLibVO">
		INSERT INTO my_lib (member_email, book_num) VALUES(#{memberEmail}, #{bookNum})
	</insert>

	<select id="readBook" resultType="com.ryan.domain.book.MyReadBookVO">
		select * from my_read_book where member_email=#{memberEmail} order by read_date DESC
	</select>
	
	<delete id="deleteReadBook" parameterType="com.ryan.domain.book.MyReadBookVO">
		delete from my_read_book where member_email=#{memberEmail} and book_num=#{bookNum}
	</delete>
	
	<insert id="insertReadBook" parameterType="com.ryan.domain.book.MyReadBookVO">
		INSERT INTO my_read_book (member_email, book_num, read_date) VALUES(#{memberEmail}, #{bookNum}, #{readDate})	
	</insert>
	
	<update id="updateReadBook" parameterType="com.ryan.domain.book.MyReadBookVO">
		UPDATE my_read_book SET read_date = #{readDate} where member_email=#{memberEmail} and book_num=#{bookNum}
	</update>
	
	<select id="countLibBook" resultType="int">
		select count(*) from my_lib where member_email=#{memberEmail}
	</select>
	
	<select id="countReadBook" resultType="int">
		select count(*) from my_read_book where member_email=#{memberEmail}
	</select>

</mapper>