<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.mapper.OrderObjectMapper">
	
	<insert id="insertOrderObject">
		INSERT ALL
		<foreach collection="param2" index="index" item="orderObject">
			INTO order_object
			(
				order_number,
				book_num,
				book_count
			)
			VALUES
			(
				#{orderNumber},
				#{orderObject.bookNum},
				#{orderObject.bookCount}
			)
		</foreach>
		SELECT * FROM dual
	</insert>
	
</mapper>