<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.mapper.PaymentMapper">
	
	<insert id="insertPaymentInfo">
		INSERT INTO member_payment
		(
			member_email,
			member_sid,
			member_next_payment,
			member_payment_check
		)
		VALUES
		(
			#{memberEmail},
			#{memberSid},
			SYSDATE,
			1
		)
	</insert>
	
	<select id="getTodayRegularPaymentList" resultType="com.ryan.domain.member.PaymentVO">
		SELECT * FROM member_payment WHERE TO_CHAR(member_next_payment,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD') and member_payment_check = 1
	</select>
	
</mapper>