<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.mapper.PaymentMapper">
	
	<insert id="insertPaymentInfo">
		INSERT INTO member_payment
		(
			member_email,
			member_sid,
			member_next_payment,
			member_payment_check
		)
		VALUES
		(
			#{memberEmail},
			#{memberSid},
			SYSDATE + 30,
			1
		)
	</insert>
	
</mapper>