<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.mapper.ReviewMapper">

<insert id="insertReview" parameterType="com.ryan.domain.book.ReviewVO">
<!-- <selectKey keyProperty="reviewNum" resultType="int" order="BEFORE">
SELECT review_num.NEXTVAL FROM book_Review
</selectKey> -->
		INSERT INTO book_Review
		(
			book_num,
			member_email,
			review_title,
			review_content,
			review_regdate
		)
		VALUES
		(
			#{bookNum},
			#{memberEmail},
			#{reviewTitle},
			#{reviewContent},
			SYSDATE
		)
	</insert>
	
	<delete id="deleteReview">
		DELETE FROM book_Review
		WHERE review_num = #{reviewNum}
	</delete>
	
		<update id="updateReview">
		UPDATE book_Review
		SET review_title = #{reviewTitle},
		review_content = #{reviewContent},
		review_regdate = #{reviewRegdate}
		WHERE review_num = #{reviewNum}
	</update>
	
	<select id="searchRead">
	SELECT count(*) FROM my_read_book
	WHERE member_email=#{memberEmail} and
	book_num=#{bookNum}
	</select>
	
	<select id="searchOrdertmp">
	SELECT o.orderlist_num FROM order_object o
	JOIN order_number n ON o.order_num=n.order_num
	WHERE n.member_email=#{memberEmail} and
	o.book_num=#{bookNum}
	</select>
	
	<select id="searchOrder">
	SELECT count(*) FROM order_object o
	JOIN order_number n ON o.order_num=n.order_num
	WHERE n.member_email=#{memberEmail} and
	o.book_num=#{bookNum}
	</select>
	
	<select id="duplicationChk">
	SELECT count(*) FROM book_Review
	WHERE member_email=#{memberEmail} and
	book_num=#{bookNum}
	</select>
	
	<select id="myreviewList" resultType="com.ryan.domain.book.ReviewVO">
	SELECT * FROM book_Review WHERE member_email=#{memberEmail}
	</select>
	
	<insert id="insertGrade">
	INSERT INTO book_Review
		(
			member_email,
			book_num,
			grade_score
		)
		VALUES
		(
			#{memberEmail},
			#{bookNum},
			#{gradeScore}
		)
	</insert>
</mapper>