<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.mapper.SearchMapper">
<select id="bookList" resultType="com.ryan.domain.book.EBookVO">
	SELECT e.* FROM 
	(SELECT DISTINCT book_num
	FROM (
	SELECT * FROM eBook
	WHERE 
	<choose>
			<when test="param1.equals('BOOK_TITLE')" >
				<foreach collection="param2" index="index" item="search" separator="or">
					BOOK_TITLE LIKE  '%'||#{search}||'%'
				</foreach>
			</when>
			<when test="param1.equals('BOOK_WRITER')" >
				<foreach collection="param2" index="index" item="search" separator="or" >
					BOOK_WRITER LIKE '%'||#{search}||'%'
				</foreach>
			</when>
			<when test="param1.equals('BOOK_PUBLISHER')" >
				<foreach collection="param2" index="index" item="search" separator="or" >
					BOOK_PUBLISHER LIKE '%'||#{search }||'%'
				</foreach>
			</when>
		</choose>
		AND BOOK_EXISTENCE LIKE 1
		ORDER BY book_title
	)) a
	JOIN eBook e ON a.book_num=e.book_num
</select>

<select id="ebookList" resultType="com.ryan.domain.book.EBookVO">
	SELECT e.* FROM 
	(SELECT DISTINCT book_num
	FROM (
	SELECT * FROM eBook
	WHERE 
	<choose>
			<when test="param1.equals('BOOK_TITLE')" >
				<foreach collection="param2" index="index" item="search" separator="or">
					BOOK_TITLE LIKE  '%'||#{search}||'%'
				</foreach>
			</when>
			<when test="param1.equals('BOOK_WRITER')" >
				<foreach collection="param2" index="index" item="search" separator="or" >
					BOOK_WRITER LIKE '%'||#{search}||'%'
				</foreach>
			</when>
			<when test="param1.equals('BOOK_PUBLISHER')" >
				<foreach collection="param2" index="index" item="search" separator="or" >
					BOOK_PUBLISHER LIKE '%'||#{search }||'%'
				</foreach>
			</when>
		</choose>
		ORDER BY book_title
	)) a
	JOIN eBook e ON a.book_num=e.book_num
</select>

<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@ 이 밑으로 제가 수정 좀 했습니다.   @@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
	<select resultType="com.ryan.domain.book.EBookVO" id="searchEbook" >
		SELECT * FROM EBOOK WHERE
		<choose>
			<when test="param1.equals('BOOK_TITLE')" >
				<foreach collection="param2" index="index" item="search" separator="or">
					BOOK_TITLE LIKE  '%'||#{search}||'%'
				</foreach>
			</when>
			<when test="param1.equals('BOOK_WRITER')" >
				<foreach collection="param2" index="index" item="search" separator="or" >
					BOOK_WRITER LIKE '%'||#{search}||'%'
				</foreach>
			</when>
			<when test="param1.equals('BOOK_PUBLISHER')" >
				<foreach collection="param2" index="index" item="search" separator="or" >
					BOOK_PUBLISHER LIKE '%'||#{search }||'%'
				</foreach>
			</when>
		</choose>
	</select>
	<!-- 종이책 검색 -->
	<select resultType="com.ryan.domain.book.EBookVO" id="searchPaperbook" >
		SELECT * FROM EBOOK WHERE
		<choose>
			<when test="param1.equals('BOOK_TITLE')" >
				<foreach collection="param2" index="index" item="search" separator="or">
					BOOK_TITLE LIKE  '%'||#{search}||'%'
				</foreach>
			</when>
			<when test="param1.equals('BOOK_WRITER')" >
				<foreach collection="param2" index="index" item="search" separator="or" >
					BOOK_WRITER LIKE '%'||#{search}||'%'
				</foreach>
			</when>
			<when test="param1.equals('BOOK_PUBLISHER')" >
				<foreach collection="param2" index="index" item="search" separator="or" >
					BOOK_PUBLISHER LIKE '%'||#{search }||'%'
				</foreach>
			</when>
		</choose>
		AND BOOK_EXISTENCE LIKE 1
	</select>
</mapper>