<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.mapper.SearchMapper">
<select id="typeWriter" resultType="com.ryan.domain.EBookVO" parameterType="java.util.Map">
	SELECT DISTINCT writer
	FROM (
	SELECT * FROM eBook
	WHERE 
	<foreach collection="array" item="keyword" index="index" separator="OR">
	writer like '%' || #{keyword} || '%'
	</foreach>
	) ORDER BY writer
</select>

<select id="typeBookame" resultType="com.ryan.domain.EBookVO">
	SELECT DISTINCT book_title
	FROM (
	SELECT * FROM eBook
	WHERE 
	<foreach collection="array" item="keyword" index="index" separator="OR">
	book_title like '%' || #{keyword} || '%'
	</foreach>
	) ORDER BY book_title
</select>





</mapper>