<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.mapper.SearchMapper">
<select id="searchBook" resultType="com.ryan.domain.EBookVO" parameterType="java.util.Map">
<![CDATA[
	SELECT * FROM eBook
	WHERE book_title IN
	<foreach collection="keywordList" item="item" index="index" separator=",">
	#{item}
	</foreach>
	
	]]>
</select>

</mapper>