<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.mapper.ViewerMapper">
	<select id="getBookFilePath" resultType="com.ryan.domain.book.EBookVO" >
		SELECT * FROM EBOOK
		WHERE BOOK_NUM LIKE #{booknumber}
	</select>
	<!-- 책갈피 추가 -->
	<insert id="addBookMark" >
		INSERT INTO BOOK_MARK (MEMBER_EMAIL, BOOK_NUM, PAGE_NUM, PAGE_STATUS)
		VALUES ('temp', #{booknumber}, #{page}, #{pageStatus})
	</insert>
	<select id="getBookMark" resultType="com.ryan.domain.book.BookMarkVO" >
		SELECT * FROM BOOK_MARK
	</select>
</mapper>