a {
    text-decoration: none;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    /* font-family: 'Kaushan Script', cursive; */
    font-family: 'Kaushan Script', cursive;
}

.wrapper {
    
    width:700px;
    margin:0 auto;
    /* border:2px solid black; */
    background-color:white;
    /* position:fixed; */
    /* left:0;
    right:0;
    top:0;
    bottom:6rem; */
    margin-bottom:100px;
}

.top-container{
    /* border:2px solid pink; */
    margin-top:20px;
    width:100%;
    /* height:300px; */
    margin-bottom:10px;
    display:flex;
    flex-direction:row;
    /* border:2px solid yellow; */
}

.body-container {
    display:inline-block;
    width:100%;
    /* border:2px solid red; */
    margin-top:20px;
    background-color:#EEF0F4;
}

.imageBox img{
    max-width: 100%;

}

.imageBox {
    padding:10px;
    margin-left:20px;
    width: 240px;
    height: 350px;
    

}


.introWrite {
    /* border:2px solid brown; */
    width: 60%;
    padding-left:20px;
    margin-top:20px;
    /* border:2px solid greenyellow; */
}

.introWrite h2 {
    margin-top:20px;

}


.choiceBtn {
    width: 100px;
    height: 40px;
    border-radius:5px;
    margin:10px;
    border:1px solid lightgray;
    color:#0099FF;
    /* font-weight: bold;
    color:white; */
    /* border:none; */
    font-size:15px;
    background-color:white;
    margin-top: 80px;
    margin-bottom: 10px;
    outline:none;
    cursor: pointer;


}



.choiceBtnOne input[type="button"]:hover {
    background-color:#0099FF;
    color:white;
    font-weight:bold;

}

.introWrite li {
    
 font-style: normal;
 list-style:none;
 margin:8px 0px 5px 5px;

}

.bookDetail, .listDetail, .reviewDetail {
    width: 100%;
    /* border: 2px solid orange; */
    margin: 10px 0 10px 0;
    /* min-width: 320px; */
    overflow: hidden;
    line-height: 1.7em;
    height:110px;


}

.reviewDetail table {

    border-bottom : 1px solid lightgray;
    border-top:2px solid rgb(0, 0, 133);
    width:95%;
    margin:0 auto;
    text-indent: 10px;

}

.reviewDetail textarea {
    width: 90%;
    height:100px;

}


.reviewDetail table > tr:nth-child(1) > td:nth-child(1) {
        border-top:none;
}


.firstBox, .secondBox, .thirdBox, .fourthBox, .fifthBox {
    background-color:#FFFFFF;
    /* border:2px solid blue; */
    margin:20px;
    border-radius:10px;
    padding:10px;
    box-shadow: 0 0 10px rgba(0,0,0,.05);


}
.firstBox h2 {
	margin-bottom: 20px;
}

.emoTag {
    padding-top:5px;
    font-size:13px;
}



.tagtag {
    border:1px solid #0099FF;
    border-radius:15px;
    height:25px;
    position: relative;
    margin-top:30px;
    margin-bottom:20px;

}

.tagtag input[type="text"] {
    position: absolute;
    width:550px;
    border:none;
    margin-left:20px;
    outline:none;

}


.tagtag input[type="button"] {
    position: absolute;
    /* float:right; */
    border-radius: 0 15px 15px 0;
    height:25px;
    font-size:13px;
    color:white;
    background-color:#0099FF;
    border:none;
    outline:none;
    right:0;
    top:0;
    margin-right:-1px;
    cursor: pointer;
    padding:0 12px 0 12px;
    

}

.bookDetail .inputBtn {
    width:90px;
    height:40px;
    font-size:16px;
  
}

.moreChk, .moreChk2, .moreChk3 {
    cursor: pointer; 
    width:100%; 
    height:50px;
    background-color:#FAFFFF;
    border-top:1px solid lightgray;
    border-bottom:1px solid white;
    border-left:1px solid white;
    border-right:1px solid white;
    font-size:20px;
    background-color:lightgray;
    color:white;
    /* font-weight: bold; */
  
    }


.preview { 

    margin: 10px 0px 0px 150px;

}

.likeChk {
    margin:20px 0px 20px 0px;
}

.likeChk .likeBtn {
    margin: 10px;
    float:right;

}




.likeBtn input[type="text"] {
    text-align: right;
    margin-right:10px;
    border:none;
}


.likeBtn input[type="checkbox"] {
    display:none;

}

.likeBtn label {

    position:relative;
    width: 14px;
    height:14px;
    display:inline-block;
    cursor:pointer;

}


.likeBtn i {
    position: absolute;
    color:#dd5e46;
}


.likeBtn i:last-child {
    opacity: 0;
    transition:0.2s;

}

.likeBtn input[type="checkbox"]:checked + label i:last-child {
    opacity:1;
    
}

.heartSoo {
    width: 50px;
    display: inline-block;
    
}

.heartC {
    display: inline-block;
    margin-left:20px;

}

.heartSoo input[type="text"] {
    border:none;
    text-align: right;
    outline:none;
}



.likePeople {
    position: relative;
    

}

.likePeople > i {
    position:absolute;
    font-size:28px;
    border-radius: 50%;
    color:lightgray;

}

.likePeople > i:nth-child(1) {
    top:0px;
    left:0px;
    z-index: 1;
    background-color: white;
   
}

.likePeople > i:nth-child(2) {
    top:0px;
    left:15px;
    z-index: 2;
    background-color:white;
 
    
}

.likePeople > i:nth-child(3) {
    top:0px;
    left: 30px;
    z-index: 3;
    background-color:white;
  
}


.likePeople2 {

   margin-left:60px;

}

.likeChk input[type="checkbox"] {
    
    display:none;
}

.likeChk label {

    cursor: pointer;

}

.likeList {
    margin-top:20px;
    /* border-bottom:1px solid #e8e8e8; */
    overflow:auto;
    height:280px;
    
}

.allList {
    /* border:2px solid blue; */
    height:80%;
    overflow: auto;
}
.likeList >ul>li span{
    border-radius: 50%;
    display:line;
}

.likeList >ul>li span img {
    width:50px;
}

.likeList > ul >li >span:nth-child(2) {
    float:right;
    margin-right: 40px;
}


 .modal {
    display:none;
    position:fixed;
    left:0; 
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 3;

}

#modalCloseBtn button {

   width: 100%; 
   height: 50px;
   /* margin:0 auto; */
   font-size: 19px;
   background-color:#0099FF;
   color:white;
   border:none;
   position: absolute;
   bottom:0;
   left:0;
   right:0;
   outline:none;
   cursor: pointer;
}
.modal .modal_content {
    position: relative;
    background-color:  #fefefe;
    margin:13% auto;
    padding: 15px 8px 20px 20px;
    /* border:1px solid #888; */
    width: 300px;
    height: 400px;

 }
 
.modal_content i {
    color: #dd5e46;
    font-size:20px;
}

.modal_content ul {
    border-bottom:1px solid #e8e8e8;
}

.modal_content ul li span:nth-child(2) {

        color:rgb(61, 61, 61);
        font-size:15px;
}

/* #modalCloseBtn:hover, 
#modalCloseBtn:focus {
    color:black;
    text-decoration: none;
    cursor: pointer;

} */

#peopleChkBtn:hover,
#peopleChkBtn:focus {

    /* color:black; */
    text-decoration: none;
    /* cursor:pointer; */

}




.preview i {
    
    font-size:23px;

}

.preview {

        margin-top:20px;

}


.similarBook {

    margin:0 auto;

}

.fifthBox .similarBook img {

width:115px;
height:145px;
margin-left:4px;
margin-right:4px;
opacity: 0.4;
border:1px dotted #e8e8e8;

}

/* 
.bookStarScore .full {
    color:#f1c40f;
} */

.hashTag input[type="checkbox"] {
        display:none;
        

}

.hashTag input[type="checkbox"]:checked + label {

    background-color:#0099FF;
    color:white;
    border:1px dotted rgba(0, 101, 216, 0.904);
    cursor: pointer;
}

.hashTag input[type="checkbox"] + label {

    border:1px dotted gray;
    border-radius: 30px;
    background-color:white;
    margin-left:20px;
    color:black;
    padding: 8px;
    cursor: pointer;

}
/* .bookStarScore .full {
    color:#f1c40f;
} */


.bookStarScore span{

    color:rgb(151, 151, 151);
}

.bookStarScore span.on{
    color:#f1c40f;

}

