
body {
    background-color: #f1f1f1;

}

a{
    text-decoration: none;
}

li{
    list-style: none;

}

.choiceOrders h3 {
    padding-left:10px;
    color:gray;
}

.newItemInsert {
    /* display:inline-block; */
    /* border:2px solid blue; */
    margin-left: 240px;
    display: flex;
    width:80%;
    flex-direction: column;
    /* border:2px solid blue; */


}

.statusChk {
    /* border:2px solid green; */
    margin:10px;
}


.orderTable .statusChk a:nth-child(1) {
    color:black;
    /* font-weight:bold; */
}

.newItemInsert ul li {

    display:inline;
    border:1px solid lightgray;
    margin:3px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.05);

}

.tabs {
   padding-left:0px;
   margin-bottom:8px;
}

.tabs li {
    /* border:2px solid yellow; */
    padding:10px 20px 10px 20px;
    cursor: pointer;

}


.tabContent {
    /* border:2px solid red; */
    
    border:1px solid lightgray;
    margin:2px 0 0 3px;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    
}



.orderTable table {
    background-color:#ffffff;
    width: 100%;
    /* box-shadow: 0 0 10px rgba(0,0,0,.05); */
    /* margin:20px; */
    margin-bottom:10px;
    text-align: left;
}


.orderTable table th {
    color:#888585;
    font-weight: normal;
    padding:10px;
    border-bottom:1px solid lightgray;
   
}

.orderTable table th:nth-child(1) {
    text-align: center; 
    width:30px;
}


.orderTable table th:nth-child(2) {
    /* display:block; */
    padding:10px;
}


.orderTable table td {
    background-color:#f9f9f9;
    padding:10px 10px 30px 10px;
    /* padding:20px; */
    /* border-left:1px solid #f9f9f9;
    border-right:1px solid #f9f9f9; */

    
}

.orderTable span:nth-child(1) {

    display:block;

}

/* .adjustHere {
    display:block;
    padding:10px;

} */


.choiceOrders {
    /* border:2px solid red; */
    border-bottom:1px solid #e8e8e8;
}

.orderTable {
    /* border:2px solid pink; */
}

.orderTable .statusChk {
    font-size:13px;
    margin-left:10px;
}

.orderTable i {

    color:rgb(170, 167, 167);
    font-size: 13px;
}

.endbtnOrders {
    /* border:2px solid yellow; */
}

.orderTable select {
    width: 100px;
    height: 30px;
}

.orderTable input[type="text"] {
    height: 24px;
}

.orderTable input[type="button"] {
    width: 50px;
    height: 30px;
}

.orderTable input[type="button"]:hover {

        background-color: #0099FF;
        color:white;
        font-weight: bold;
        border:none;
}

.orderTable .tableTitle{
    float:right;
    /* border:2px solid green; */
    margin:0px 10px 10px 10px;
}

.dateBtn {
    margin:10px 0px 0px 10px;
}

.dateBtn input[type="date"]{
     height:27px;
    text-align: center;
    }

.choiceStatus {
    padding: 10px 10px 10px 50px;
}

.choiceStatus select{

    width:100px;
    height: 35px;
}
.choiceStatus input[type="button"] {

    width:50px;
    height: 35px;

}

.choiceStatus input[type="button"]:hover {

    background-color: #0099FF;
    color:white;
    font-weight: bold;
    border:none;
}

.orderTable span > a {
    /* display: block; */
    color:#5198bd;
}

.orderTable span > a:hover {
    font-weight:bold;
}

.adjustHere span:nth-child(1) {
    color:rgb(27, 122, 177);
}  

.statusChk ul li {

    border:none;
    padding: 0 10px 0 10px;
    position: relative;
    background-color: #f1f1f1;
    
}

.statusChk ul li::before {
    content:'';
    width:1px;
    height:14px;
    top:50%;
    left:0;
    margin-top:-7px;
    background-color:lightgray;
    position: absolute;
    
}

.statusChk ul li:nth-child(1)::before {
    display:none;
}

.statusChk ul li a:hover {
    font-weight: bold;
}


