body {
  margin-bottom: 0;
}

.body-wrapper {
  height: calc(100vh - 48px);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 525px;
  background-color: #fff;
}

.selection-container {
  margin-top: -42px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  padding: 18px;
  height: 402px;
  background-color: var(--light-gray-color);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.09);
}

.selection-container > div {
  width: 360px;
}

.selection-container h3 {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Noto Sans KR', sans-serif;
  color: rgba(0, 0, 0, 0.66);
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container label {
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  color: rgba(0, 0, 0, 0.55);
}

.form-container input {
  border: 0;
  outline: 0;
  background-color: var(--light-gray-color);
  font-size: 16px;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.form-container input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.find-my-account {
  margin: 0 0 15px 0;
  text-align: right;
}

.find-my-account a {
  display: inline-block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
}

.find-my-account a:first-child {
  margin-right: 10px;
}

.find-my-account a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.find-my-account label[for="remember-me"] {
  cursor: pointer;
}
.find-my-account label[for="remember-me"]::after {
  content: '';
  margin-left: 8px;
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: rgba(0, 0, 0, 0.25);
  transform: translateY(1px);
}

.form-container button[type="submit"] {
  border: 0;
  outline: 0;
  border-radius: 6px;
  height: 48px;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
  transition: 0.4s ease;
}

.form-container button[type="submit"]:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.15);
  background-color: var(--main-color);
  box-shadow: 0 2px 5px -2px rgba(0, 153, 255, 0.65);
  cursor: pointer;
}
.form-container button[type="submit"]:not(:disabled):hover {
  box-shadow: 0 2px 6px -1px rgba(0, 153, 255, 0.85);
}

.form-container > a:last-of-type {
  display: block;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.15);
  height: 48px;
  line-height: 44px;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
  box-shadow: 0 3px 5px 1px rgba(209,213,217,.3);
  transition: 0.33s ease;
}

.form-container > a:last-of-type:hover {
  box-shadow: 0 2px 6px 0 rgba(209,213,217);
}

header.topbar .container {
  width: 520px;
}