* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --main-color: #0099ff;
    --gray-color: #f3f4f6;
    --light-gray-color: #fafafa;
    --dark-gray-color: #6a6c78;
    --accent-color: #f1d919;
    --red-color: #ff0000;
}