* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --main-color: #0099ff;
    --gray-color: #f3f4f6;
    --light-gray-color: #fafafa;
    --dark-gray-color: #6a6c78;
    --accent-color: #f1d919;
    --red-color: #ff0000;
    --main-font: 'Kaushan Script', cursive;
    --korean-font: 'Noto Sans KR', sans-serif;
    --accent-color: #0090f0;
    --emphasis-color: #816bff;
    --subtle-font-color: #494c62;
    --message-bubble-color-odd: #e5e4e9;
    --message-bubble-color-even: #3ea7f8;
    --sensual-yellow-color: #f1d919;
}

body {
  padding-bottom: 50px;
}

footer {
  margin-top: 48px;
  background-color: #eff1f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: '맑은 고딕', 'Roboto', 'Noto Sans KR', sans-serif;
}
.footer-above {
  height: 40px;
  width: 100%;
  background-color: #f7f8fa;
  -webkit-user-select: initial !important;
}
.footer-above ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.footer-above li {
  flex: 1;
  position: relative;
  padding: 0 20px;
  text-align: center;
  line-height: 40px;
}
.footer-above li::after {
  content: '/';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
}
.footer-above li:last-child::after {
  content: '';
}
.footer-above a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.35);
  font-weight: bold;
  font-size: 14px;
}
.footer-above a:hover {
  color: rgba(0, 0, 0, 0.55);
}

.footer-below {
  padding: 36px 24px 12px;
  -webkit-user-select: text;
}
.footer-below h3 {
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.45);
}
.footer-below hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  margin: 14px 0;
}
.footer-below p {
  font-size: 12px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.45);
  line-height: 1.8;
  padding: 2px 0;
}
.footer-below span {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.45);
  margin-right: 5px;
}
.footer-below .copy-right {
  padding-top: 14px;
  text-align: center; 
}
.footer-below .copy-right span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
}